.login-page {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent; /* ничего не ломаем */
}

.login-wrapper {
  width: 100%;
  max-width: 420px; /* чтобы красиво смотрелось на десктопе */
  padding: 16px;
}
